<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_InstantRebate>
            <version>0.1.5</version>
        </Mediotype_InstantRebate>
    </modules>
    <global>
        <blocks>
            <mediotype_instant_rebate>
                <class>Mediotype_InstantRebate_Block</class>
            </mediotype_instant_rebate>
        </blocks>
        <helpers>
            <mediotype_instant_rebate>
                <class>Mediotype_InstantRebate_Helper</class>
            </mediotype_instant_rebate>
        </helpers>
        <models>
            <mediotype_instant_rebate>
                <class>Mediotype_InstantRebate_Model</class>
                <resourceModel>Mediotype_InstantRebate_Model_Resource</resourceModel>
            </mediotype_instant_rebate>
            <Mediotype_InstantRebate_Model_Resource>
                <class>Mediotype_InstantRebate_Model_Resource</class>
                <entities>
                    <instantRebate>
                        <table>mediotype_instant_rebate</table>
                    </instantRebate>
                    <products>
                        <table>mediotype_instant_rebate_products</table>
                    </products>
                    <conversions>
                        <table>mediotype_instant_rebate_conversions</table>
                    </conversions>
                    <zipcode>
                        <table>mediotype_zip_codes</table>
                    </zipcode>
                </entities>
            </Mediotype_InstantRebate_Model_Resource>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <mediotype_instant_rebate>
                        <class>mediotype_instant_rebate/observer</class>
                        <method>calculateRebates</method>
                    </mediotype_instant_rebate>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_after>
                <observers>
                    <mediotype_instant_rebate>
                        <class>mediotype_instant_rebate/observer</class>
                        <method>addConversion</method>
                    </mediotype_instant_rebate>
                </observers>
            </sales_order_place_after>
            <admin_system_config_changed_section_instant_rebate_config>
                <observers>
                    <mediotype_instant_rebate>
                        <class>mediotype_instant_rebate/observer</class>
                        <method>systemConfigChanged</method>
                    </mediotype_instant_rebate>
                </observers>
            </admin_system_config_changed_section_instant_rebate_config>
            <payment_method_is_active>
                <observers>
                    <mediotype_instant_rebate>
                        <class>mediotype_instant_rebate/observer</class>
                        <method>validatePaymentMethods</method>
                    </mediotype_instant_rebate>
                </observers>
            </payment_method_is_active>
        </events>
        <resources>
            <mediotype_instant_rebate_setup>
                <setup>
                    <module>Mediotype_InstantRebate</module>
                </setup>
            </mediotype_instant_rebate_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <mediotype_instant_rebate>
                <use>standard</use>
                <args>
                    <module>Mediotype_InstantRebate</module>
                    <frontName>instantrebate</frontName>
                </args>
            </mediotype_instant_rebate>
        </routers>
        <layout>
            <updates>
                <mediotype_instant_rebate>
                    <file>mediotype/instant-rebate/instantrebate.xml</file>
                </mediotype_instant_rebate>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <mediotype_instantrebate>
                    <file>mediotype/instant-rebate/instantrebate.xml</file>
                </mediotype_instantrebate>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <mediotype_instant_rebate>
                <use>admin</use>
                <args>
                    <module>Mediotype_InstantRebate</module>
                    <frontName>mediotype_instantrebate</frontName>
                </args>
            </mediotype_instant_rebate>
        </routers>
    </admin>
    <default>
        <instant_rebate_config>
            <general>
                <rebates_enabled>1</rebates_enabled>
                <geo_active>1</geo_active>
                <allow_guest>0</allow_guest>
                <disable_multishipping_when_rebate_present>1</disable_multishipping_when_rebate_present>
            </general>
            <textedit>
                <zip_label>Please enter your shipping zip code to take advantage of instant rebates in your area:</zip_label>
                <zip_unavailable>Sorry, at this time there are no rebates currently being offered in your area.</zip_unavailable>
                <cart_last_chance>Last Chance to Check for Instant Rebates - Click Here!</cart_last_chance>
                <zip_not_match>Zip code entered for shipping does not match zip code verified for eligible rebates.</zip_not_match>
            </textedit>
        </instant_rebate_config>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Mediotype_InstantRebate/>
            </modules>
        </suite>
    </phpunit>
</config>